@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: #4e4e4e;
}
.bg1 {
    height: 110px;
    background: #3981da;
    border: 0px solid rgb(0, 153, 255)
    
}
.name {
    border: 0px solid red;
    font-family:'Roboto', sans-serif;
    width: 10%;
    display: inline-block;
    margin-left: 200px;
    padding:  7px;
    
}
.redes {
    border: 0px solid green;
    width: 1%;
    float: right;
    display: inline;
    position: relative;
    right: 200px;
    padding: 42px;}

.form1 {
    display: inline-block;
    position: relative;
    left: 60px;
    

}
form input {
    outline: unset;
    position:  relative;
    bottom: 40px;
    width: 600px;
    height: 40px;
    border: 1px solid #3981da;
    border-radius: 5px;
    font-family:'Roboto', sans-serif;
    
}
@font-face {
    font-family:"yan";
    src: url(Louis\ George\ Cafe\ Bold\ Italic.ttf);
}
@font-face {
    font-family:"mafin";
    src: url( Cocogoose\ Pro\ Ultralight-trial.ttf);
}
.busque {
    padding: 0px;
    text-indent: 20px;
    font-size: 14px;
}
.bg2 {
    background: wheat;
    width: 100%;
    height: 30px;
    text-align: center;
}
.produtos{
    border:  1px solid red;
    padding: 5px;
}
a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.bg3{
background: #4e4e4e;

}
.clear {
    clear:left ;
}
.img1 {
    border: 1px solid red;
position: relative;

}
img {
    position: relative;
    left: 150px;
}
.barra2 {
    background: #3981da;
    position: relative;
    left: 150px;
    width: 1569px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-indent: 20px;
    height: 60px;
}
.barra21 {
    padding: 17px;
    font-family:'Roboto', sans-serif;
}
.bg4 {
    background: #FAFAFA;
    position: relative;
    left: 150px;
    width: 1569px;
    height: 600px;
}
.prod {
    border: 1px solid #938A8A;
    box-shadow: 0 0 15px black;
    background:white;
    border-radius: 10px;
    height: 470px;
    width: 300px;
    position: relative;
    left: 200px;
    top: 50px;
}
.Lançamentos {
    border-radius: 5px;
    background:#3981da;
    margin: 0 auto;
    text-align: center;
    width: 250px;
    position: relative;
    top: 10px;
}
.img-2 {
    position: relative;
    right: 100px;
    top: 50px;
}
.tex-3 {
    height: px;
    width: 200px;
    position: relative;
    font-size: 16px;
    top: 50px;
    left: 47px;
} 
.table {
    position: relative;
    top:70px;
    left: 47px;
}
.preços {
    text-decoration: line-through;
    font-size: 12px;
}
.preço-2 {
    color: #3981da ;
    font-size: 20px;
}
.preço-3 {
    font-size: 12PX;
}
.prod-2 {
    border: 1px solid #938A8A;
    box-shadow: 0 0 15px black;
    background:white;
    border-radius: 10px;
    height: 470px;
    width: 300px;
    position: relative;
    left: 400px;
    bottom: 360px;
}
.prod-3 {
    border: 1px solid #938A8A;
    box-shadow: 0 0 15px black;
    background:white;
    border-radius: 10px;
    height: 470px;
    width: 300px;
    position: relative;
    left: 800px;
    bottom: 833px;
}
.table-2 {
    position: relative;
    top: 20px;
    left: px;
}
